      body {
        background-color: black;
        color: white;
        font-family: Arial;
      }

      .grey-button {
        background-color: rgb(51, 51, 51);
        color: white;
        font-size: 26px;
        border: none;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        margin-right: 5px;
      }

      .clear-button {
        font-size: 17px;
      }

      .orange-button {
        background-color: rgb(254, 160, 10);
        color: white;
        font-size: 26px;
        border: none;
        height: 60px;
        width: 60px;
        border-radius: 30px;
      }

      .display-calculation {
        font-size: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
      }